.calculator{

    display:grid;

    grid-template-columns:
        450px
        1fr;

    gap:10px;

    padding:10px;
}

.equipment-panel{

    border:1px solid #444;

    min-height:700px;

    padding:15px;
}

.stats-panel{

    border:1px solid #444;

    min-height:700px;

    padding:15px;
}
.slot{

    border:1px solid #555;

    margin-bottom:6px;

    padding:8px;
}

.slot select{

    width:100%;
}

.stat-row{

    display:flex;

    justify-content:
        space-between;

    padding:5px;

    border-bottom:
        1px solid #333;
}
