*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#1c1c1c;
    color:#d8d8d8;
    font-family:Arial, sans-serif;
}*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#1b1b1b;
    color:white;
    font-family:Arial, sans-serif;
}

header{
    background:#2a2a2a;
    padding:15px;
}

nav{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
}

nav a:hover{
    color:#7db4ff;
}

main{
    padding:20px;
}

.page-title{
    font-size:32px;
    margin-bottom:20px;
}

.card{
    background:#2d2d2d;
    border-radius:8px;
    padding:20px;
    margin-bottom:20px;
}


#tooltip{

    position:fixed;

    display:none;

    background:#111;

    border:1px solid #666;

    padding:10px;

    z-index:9999;

    min-width:200px;
}

.grade-common{

    color:white;
}

.grade-rare{

    color:#5fd3ff;
}

.grade-legend{

    color:#ffae00;
}

.grade-unique{

    color:#ff7b00;
}

.grade-epic{

    color:#b04cff;
}
